/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-background:white;
	--height-screen: 86vh;
	--width-screen: 100vw;
}

/* Fonts */
h1, h2{
	color: white;
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: italic;
	z-index: 1;
}

h3{
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	z-index: 1;
}

p{
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	z-index: 1;
}


/* Text */
ul{
	display:flex;
	max-width: var(--width-screen);
	list-style-type: none;
	color: white;
	flex-direction: row;
	justify-content: space-evenly;
	grid-column: -1/1;
	grid-row: 2;
	padding-left: 0;
    position: relative;
}

li {
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* Text Section 1*/
#Title{
	font-size: 20vw;
	grid-column: 2 / 3;
	grid-row: 3;
}

#Title2{
	font-size: 14vw;
	grid-column: 5 / 6;
	margin-top: 1.3em;
	margin-left: 0.75em;
	grid-row: 3;
}

/* Text Section 2*/
#Title3{
	font-size: 7vw;
	grid-column: 1 / 6;
	margin-left: 1.75em;
	grid-row: 3;
	max-width: var(--width-screen);
}

#Title4{
	font-size: 7vw;
	grid-column: 2 / 9;
	margin-top: -0.5em;
	margin-left: 2em;
	grid-row: 4;
	max-width: var(--width-screen);
}

/* Bodies */
header{
	position: absolute; 
}

body{
	margin:0;
	box-sizing: border-box;
	display: grid;
}


/* All sections */
section {
	height: var(--height-screen);
	max-width: var(--width-screen);
	background-color: white;
	display: grid;
	grid-template-columns: 10% 10% 10% 20% 20% 10% 10% 10%; 
	grid-template-rows: 5% 5% 10% 10% 40% 10% 10% 5% 5%;
}

section:nth-of-type(1), section:nth-of-type(2){
	background-repeat: no-repeat;
	background-size: cover;
	height: var(--height-screen);
	width: var(--width-screen);
	background-position: center;
}

section:nth-of-type(1):after, section:nth-of-type(2):before, section:nth-of-type(2):after{
	content:""; 
	left: 0;
	right: 0;
	height: 40vh;  
	width: var(--width-screen);
}

/* Section 1 */
section:nth-of-type(1){
	background-image: url("../images/HomePageImg.jpeg");
}


section:nth-of-type(1):after {
	position: absolute; 
	bottom: 14vh;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgb(0, 0, 0) 100%);
}

/* Section 2 */
section:nth-of-type(2){
	background-image: url("../images/GemeraImg.jpeg");
}

section:nth-of-type(2):before {
	position: relative;
	top: 0;
	background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgb(0, 0, 0) 100%); 
}

section:nth-of-type(2):after {
	position: absolute; 
	bottom: -72.5vh;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgb(0, 0, 0) 100%);
	height: 50vh;  
}

/* Section 3 */
section:nth-of-type(3){
	background-color: black;
}

/* Menu */
#menu{
	display: none;
	position: absolute;
	width: var(--width-screen);
	height: 100VH;
	background-color: #687c7b;
	z-index: 2;
}

#menu ul li{
	font-size: 10vw;
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: white;
}

/* Elements Opmaak */
img{
	width: var(--width-screen);
	height: var(--height-screen-phone);
	display: inline-block;
	overflow: hidden;
	object-fit: cover;
}

#logo{
	width: 35vw;
	height: auto;
	position: relative;
	margin-top: 1.5em;
	grid-column: 2 / 2;
	grid-row: 2;
	z-index: 1;
}

#imageLeftSide{
	width: 15vw;
	height: auto;
	position: relative;
	margin-top: 1.5em;
	grid-column: 1 / 2;
	grid-row: 2;
	z-index: 1;
}

#imageRightSide{
	width: 15vw;
	height: auto;
	position: relative;
	margin-top: 1.5em;
	grid-column: 2 / 2;
	grid-row: 2;
	z-index: 1;
}


/* Buttons */
button{
	border: none;
	background-color: transparent;
}

#discover {
	width: 7em;
	height: 3em;
	grid-column: 6 / 8;
	grid-row: 6;
	color: white;
	border: none;
	background-color: transparent;
	z-index: 1;
}

#exploreCars{
	font-size: 0.8em;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	z-index: 1;
	width: 60vw;;
	grid-column: 1/3;
	grid-row: 7;
	margin-top: 2em;
	margin-left: 2em;
}

#discoverMore{
	grid-column: 1 / 7;
	grid-row: 4;
	z-index: 1;
}

#discoverMore img{
	margin-top: 2em;
	width: 12em;
	height: auto;
}

#socials li img{
	width: 2em;
	height: auto;
	grid-column: 6 / 8;
	grid-row: 6;
}

