/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-text-opposite:black;
	--color-background:white;
	--height-screen: 86vh;
	--full-height-screen: 100vh;
	--width-screen: 100vw;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* startje */
		--color-text-opposite:white;
		--color-background:black;
	}
}

/* Fonts */
h1, h2{
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-style: italic;
}

h1{
	animation: 1.5s fadeIn;
	animation-iteration-count: 1;
}

p{
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	z-index: 1;
	opacity: 0%;
}

/* Text */
ul {
	list-style-type: none;
	color: white;
	padding-left: 0;
}

li {
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* Page 1 */
/* Text Section 1*/
#bodyPageOne section:nth-of-type(1) h1, #bodyPageOne section:nth-of-type(1) h2{
	color: var(--color-text);
	font-weight: 900;
}

#bodyPageOne section:nth-of-type(1) h1{
	font-size: 20vw;
	grid-column: 2 / 3;
	grid-row: 3;
}

#bodyPageOne section:nth-of-type(1) h2{
	font-size: 14vw;
	grid-column: 5 / 6;
	margin-top: 1.3em;
	margin-left: 0.75em;
	grid-row: 3;
}

#bodyPageOne section:nth-of-type(2) ul{
	display:flex;
	max-width: var(--width-screen);
	list-style-type: none;
	color: var(--color-text);
	flex-direction: row;
	justify-content: space-evenly;
	grid-column: 2/8;
	grid-row: 2;
	padding-left: 0;
    position: relative;
}

/* Text Section 2*/
#bodyPageOne section:nth-of-type(2) h2 {
	color: var(--color-text);
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	max-width: var(--width-screen);
	font-size: 7vw;
	z-index: 1;
}

#bodyPageOne section:nth-of-type(2) h2:nth-of-type(1){
	grid-column: 1 / 6;
	margin-left: 1.75em;
	grid-row: 3;
}

#bodyPageOne section:nth-of-type(2) h2:nth-of-type(2){
	grid-column: 2 / 9;
	margin-top: -0.5em;
	margin-left: 2em;
	grid-row: 4;
}

/* Text Section 3 */
#bodyPageOne section:nth-of-type(3) h2{
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 4vw;
	grid-column: 2 / 5;
	margin-top: -0.5em;
	grid-row: 2;
	text-transform: uppercase;
	color: var(--color-text);
}

#bodyPageOne  section:nth-of-type(3) p:nth-of-type(1){
	font-size: 8vw;
	grid-column: 2 / 5;
	margin-top: -0.5em;
	grid-row: 4;
	text-transform: uppercase;
	color: var(--color-text);
}

#bodyPageOne section:nth-of-type(3) p:nth-of-type(2){
	font-size: 8vw;
	grid-column: 3 / 5;
	margin-top: 0.5em;
	grid-row: 4;
	text-transform: uppercase;
	color: var(--color-text);
}

#bodyPageOne section:nth-of-type(3) p:nth-of-type(3){
	font-size: 3.5vw;
	grid-column: 2 / 8;
	margin-top: -4em;
	grid-row: 6;
	color: var(--color-text);
}

/* Text section 4 and 5 */
#bodyPageOne  section:nth-of-type(4) h2, section:nth-of-type(5) h2{
	font-weight: 400;
	font-size: 4vw;
	grid-column: 2 / 5;
	margin-top: -0.5em;
	grid-row: 2;
	text-transform: uppercase;
	color: var(--color-text-opposite);
}

#bodyPageOne section:nth-of-type(4) p:nth-of-type(1), section:nth-of-type(5) p:nth-of-type(1){
	font-size: 8vw;
	grid-column: 2 / 5;
	margin-top: 0.5em;
	grid-row: 3;
	text-transform: uppercase;
	width: 80vw;
	color: var(--color-text-opposite);
}

#bodyPageOne section:nth-of-type(4) p:nth-of-type(2), section:nth-of-type(5) p:nth-of-type(2){
	font-size: 8vw;
	grid-column: 3 / 5;
	margin-top: 1.5em;
	grid-row: 3;
	text-transform: uppercase;
	width: 80vw;
	color: var(--color-text-opposite);
}

#bodyPageOne  section:nth-of-type(4) p:nth-of-type(3), section:nth-of-type(5) p:nth-of-type(3){
	font-size: 8vw;
	grid-column: 2 / 8;
	margin-top: 2.5em;
	grid-row: 3;
	text-transform: uppercase;
	width: 80vw;
	color: var(--color-text-opposite);
}

#bodyPageOne section:nth-of-type(4) p:nth-of-type(4), section:nth-of-type(5) p:nth-of-type(4){
	font-size: 3.5vw;
	grid-column: 2 / 8;
	grid-row: 7;
	line-height: 1.5em;
	margin-top: -1em;
	color: var(--color-text-opposite);
}

/* Page 2 */
/* Text Section 1*/
#bodyPageTwo section:nth-of-type(1) h1, #bodyPageTwo section:nth-of-type(1) h2{
	color: var(--color-text);
	font-weight: 600;
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-35deg, 0deg);
}

#bodyPageTwo section:nth-of-type(1) h1{
	font-size: 10vw;
	grid-column: 3 / 4;
	grid-row: 4;
}

#bodyPageTwo section:nth-of-type(1) h2{
	font-size: 3vw;
	grid-column: 5 / 6;
	margin-top: 4em;
	margin-left: 1em;
	grid-row: 4;
	letter-spacing: 0.5em;
}

/* Text Section 2*/
#bodyPageTwo section:nth-of-type(2) h2{
	font-size: 3.5vw;
	color: var(--color-text);
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	max-width: var(--width-screen);
	text-transform: uppercase;
	margin-top: -0.2vh;
	grid-column: 2 / 6;
	grid-row: 3;
	z-index: 1;
}


#bodyPageTwo section:nth-of-type(2) p{
	font-size: 4.5vw;
	color: var(--color-text-opposite);
	grid-column: 2 / 8;
	margin-top: -1vh;
	grid-row: 4;
	word-spacing: 0.15em;
}

#bodyPageTwo section:nth-of-type(2) p:nth-of-type(2){
	font-size: 4.5vw;
	color: var(--color-text-opposite);
	grid-column: 2 / 8;
	margin-top: 13vh;
	grid-row: 5;
	word-spacing: 0.15em;
}

/* Text Section 3 */
#bodyPageTwo section:nth-of-type(3) h2{
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 3vw;
	grid-column: 4 / 8;
	margin-left: 9vw;
	grid-row: 7;
	text-transform: uppercase;
	color: var(--color-text);
}

#bodyPageTwo section:nth-of-type(3) p{
	font-size: 3vw;
	grid-column: 4 / 8;
	margin-left: 8vw;
	margin-top: 2em;
	grid-row: 7;
	text-transform: uppercase;
	color: var(--color-text);
}

#bodyPageOne section:nth-of-type(2) ul li:nth-of-type(1){
	padding: 0 2rem 1.8rem 0;
	width: 20vw;
}

#bodyPageOne section:nth-of-type(2) ul li:nth-of-type(2), #bodyPageOne section:nth-of-type(3) ul li:nth-of-type(2){
	padding: 0 2rem 1.8rem 0;
	width: 29vw;
}

/* Text section 4 and 5 */
section:nth-of-type(4) h2, section:nth-of-type(5) h2{
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 4vw;
	grid-column: 2 / 5;
	margin-top: -0.5em;
	grid-row: 2;
	text-transform: uppercase;
	color: var(--color-text-opposite);
}

section:nth-of-type(4) p:nth-of-type(1), section:nth-of-type(5) p:nth-of-type(1){
	font-size: 8vw;
	grid-column: 2 / 5;
	margin-top: 0.5em;
	grid-row: 3;
	text-transform: uppercase;
	width: 80vw;
	color: var(--color-text-opposite);
}

section:nth-of-type(4) p:nth-of-type(2), section:nth-of-type(5) p:nth-of-type(2){
	font-size: 8vw;
	grid-column: 3 / 5;
	margin-top: 1.5em;
	grid-row: 3;
	text-transform: uppercase;
	width: 80vw;
	color: var(--color-text-opposite);
}

section:nth-of-type(4) p:nth-of-type(3), section:nth-of-type(5) p:nth-of-type(3){
	font-size: 8vw;
	grid-column: 2 / 8;
	margin-top: 2.5em;
	grid-row: 3;
	text-transform: uppercase;
	width: 80vw;
	color: var(--color-text-opposite);
}

section:nth-of-type(4) p:nth-of-type(4), section:nth-of-type(5) p:nth-of-type(4){
	font-size: 3.5vw;
	grid-column: 2 / 8;
	grid-row: 7;
	line-height: 1.5em;
	margin-top: -1em;
	color: var(--color-text-opposite);
}

/* Bodies */
body{
	margin:0;
	box-sizing: border-box;
	background-color: var(--color-background);
}

.disableScrollBody{
	overflow: hidden;
	position: fixed;
}	

/* The small header at the top of the page when scrolling */
.header-down, .header-up{
	position: fixed; 
	display: grid;
	width: var(--width-screen);
	height: 13vh;
	grid-template-columns: 10vw 10vw 60vw 10vw 10vw; 
	grid-template-rows: 3vh 7vh 3vh;
	z-index: 2;
    transition: 0.6s;
	align-items: center;
}

.header-down{
	background-color: #687c7b;
	top: 0;
}

.header-up {
    top: -15vh;
}

/* The footer at the bottom of the page */
footer {
	display: grid;
	height: 40vh;
	width: var(--width-screen);
	grid-template-columns: 10% 10% 20% 20% 20% 20%; 
	grid-template-rows: repeat(3, auto); 
	background-color: var(--color-background);
}

footer ul:nth-of-type(1){
	margin-top: -1em;
	display: list-item;
	grid-column: 4/5;
	grid-row: 2;
	line-height: 2em;
	color: var(--color-text-opposite);
}

footer ul:nth-of-type(2){
	margin-top: -1.2em;
	margin-left: 2em;
	display: list-item;
	grid-column: 5/7;
	grid-row: 2;
	font-size: 0.8em;
	line-height: 2em;
	color: var(--color-text-opposite);
}

footer ul:nth-of-type(2) li{
	width: 20vw;
}

footer ul:nth-of-type(4){
	grid-column: 1/7;
	grid-row: 4;
	font-size: 0.8em;
	line-height: 1.5em;
	color: var(--color-text-opposite);
}

footer ul:nth-of-type(4) p{
	font-size: 1em;
	color: var(--color-text-opposite);
}

footer ul:nth-of-type(4) li{
	display: inline-block;
	font-size: 1em;
	color: var(--color-text-opposite);
	width: 32vw;
	text-align: center;
	color: var(--color-text-opposite);
}

footer ul:nth-of-type(4) li:first-of-type{
	font-size: 1em;
	color: var(--color-text-opposite);
	width: 92.5vw;
	padding-bottom: 2em;
}

footer li{
	display: grid;
	grid-column: 2;
	grid-row: 2;
}

footer ul li {
	color: var(--color-text-opposite);
	width: 10vw;
}

footer img{
	margin-top: -1em;
	width: 10vw;
	height: auto;
	opacity: 1;
}

#socials{
	display: flex;
	grid-column: 2 / 5;
	grid-row: 3;
	width: 40vw;
}

#socials li img{
	width: 1em;
	height: auto;
	grid-column: 6 / 8;
	grid-row: 6;
}

/* All sections */
section {
	height: var(--full-height-screen);
	max-width: var(--width-screen);
	background-color: var(--color-background);
	display: grid;
	grid-template-columns: 10% 10% 10% 20% 20% 10% 10% 10%; 
	grid-template-rows: 5% 5% 10% 10% 40% 10% 10% 5% 5%;
	border: none;
	border-style: none;
}

section:nth-of-type(1), section:nth-of-type(2){
	background-repeat: no-repeat;
	background-size: cover;
	height: var(--height-screen);
	width: var(--width-screen);
	background-position: center;
}


#bodyPageOne section:nth-of-type(1):after, section:nth-of-type(2):before, section:nth-of-type(2):after{
	content:""; 
	left: 0;
	right: 0;
}

/* Page 1 */
/* Section 1 */
#bodyPageOne section:nth-of-type(1){
	background-image: url("../images/HomePageImg.jpeg");
	animation: 1s backgroundAnimation;
	background-position: center center;
}

#bodyPageOne section:nth-of-type(1):after {
	position: absolute; 
	height: 90vh;
	width: var(--width-screen);  
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 95%);
	pointer-events: none;
}

/* Section 2 */

.Gemera{
	background-image: url("../images/GemeraImg.jpeg");
	transition: 0.2s;
}

.Attack{
	background-image: url("../images/AttackImg.jpeg");
	transition: 0.2s;
}

.Absolut{
	background-image: url("../images/AbsolutImg.jpeg");
	transition: 0.4s;
}

#bodyPageOne section:nth-of-type(2):before {
	position: relative;
	top: 0;
	height: 100vh;
	width: var(--width-screen);  
	background: linear-gradient(to top, rgba(0, 0, 0, 0.103) 70%, rgb(0, 0, 0) 95%);
	pointer-events: none;
}

#bodyPageOne section:nth-of-type(2):after {
	position: absolute; 
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.384) 0%,rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 95%);
	height: 90vh;  
	width: var(--width-screen);  
	pointer-events: none;
}

/* Section 3 */
#bodyPageOne section:nth-of-type(3){
	background-color: black;
}

/* Page 2 */
/* Section 1 */
#bodyPageTwo section:nth-of-type(1){
	background-image: url("../images/JeskoAbsolutHome.jpeg");
	height: 80vh;
}

#bodyPageTwo section:nth-of-type(1):after {
	position: absolute; 
	height: 90vh;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 95%);
	pointer-events: none;
}

/* Section 2 */
#bodyPageTwo section:nth-of-type(2){
	background-color: var(--color-background);
	height: 65vh;
}

/* Section 3 */
#bodyPageTwo section:nth-of-type(3){
	background-image: url("../images/JeskoReariMAGE.jfif");
	height: 75vh;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

/* Section 4 */
#bodyPageTwo section:nth-of-type(4){
	background-image: url("../images/JeskoReariMAGE.jfif");
	height: 75vh;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

/* Section 5 */
#bodyPageTwo section:nth-of-type(5){
	background-image: url("../images/inspiration_Background.jpg");
	height: 75vh;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

/* General */
/* Menu */
nav{
	display: none;
	position: fixed;
	width: var(--width-screen);
	height: var(--full-height-screen);
	background-color: #687c7b;
	z-index: 2;
	grid-template-columns: 10vw 45vw 20vw 25vw;
	grid-template-rows: 10vh 20vh 30vh 35vh;
	overflow: hidden;
}

.opened{
	display: grid;
	animation-name: openMenu;
	animation-duration: 0.6s;
	animation-timing-function: linear;
}

.closing{
	display: grid;
	animation-name: closeMenu;
	animation-duration: 0.6s;
	animation-timing-function: linear;
}

.closing{
	display: none;
}


nav ul:nth-of-type(1){
	display: list-item;
	grid-column: 2/3;
	grid-row: 2;
	width: 10vw;
	margin-top: 5vh;
}

nav ul:nth-of-type(2){
	grid-column: 2/3;
	grid-row: 4;
	display: list-item;
	width: 35vw;
	height: 20vh;
}

nav ul:nth-of-type(3){
	grid-column: 3/3;
	grid-row: 4;
	display: list-item;
	width: 35vw;
	height: 20vh;
}

nav ul li{
	height: 5vh;
	width: 20vw;
	float: none;
}

nav ul li a{
	font-size: 10vw;
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: var(--color-text);
	text-decoration: none;
}

nav ul:nth-of-type(2) li, nav ul:nth-of-type(3) li{
	height: 4vh;
	width: 40vw;
	float: none
}

/* Elements Opmaak */
img{
	width: var(--width-screen);
	height: var(--height-screen-phone);
	display: inline-block;
	overflow: hidden;
	object-fit: cover;
	opacity: 0;
}

span{
	display: inline;
	width: 80vw; /*or whatever width you want the effect of <hr>*/
	text-align: center;
	z-index: 1;
}

span:nth-of-type(1){
	border-top: 1px solid #cccccc96;
	grid-column: 2 / 8;
	grid-row: 3;
	margin-top: 0.5em;
}

footer span:nth-of-type(1){
	border-top: 1px solid #ccc;
	grid-column: 2 / 2;
	grid-row: 1;
	margin-top: -2em;
}

footer span:nth-of-type(2){
	border-top: 1px solid #ccc;
	grid-column: 2 / 2;
	grid-row: 4;
	margin-top: -1em;
}

#logo{
	width: 35vw;
	height: auto;
	position: relative;
	margin-top: 1.5em;
	grid-column: 2 / 2;
	grid-row: 2;
	z-index: 2;
}

#logoHeader{
	width: 35vw;
	height: auto;
	position: relative;
	grid-column: 2 / 2;
	grid-row: 2;
	z-index: 1;
}

#logoNav{
	width: 35vw;
	height: auto;
	position: relative;
	grid-column: 2 / 2;
	grid-row: 1;
	margin-top: 5vh;
}

section:nth-of-type(3) a{
	position: relative;
	grid-column: 2 / 8;
	grid-row: 7;
}

section:nth-of-type(3) a img{
	width: 50vw;
	height: auto;
}

section:nth-of-type(3) img{
	position: relative;
	grid-column: 3 / 8;
	grid-row: 5;
	width: 80vw;
	height: auto;
}

section:nth-of-type(4) img{
	margin-top: -1em;
	grid-column: 2 / 8;
	grid-row: 5;
	height: 45vh;
	width: auto;
}

section:nth-of-type(5) img{
	margin-top: -1em;
	grid-column: 3 / 8;
	grid-row: 5;
	height: 45vh;
	width: auto;
}

.menuButton{
	position: relative;
	width: 4em;
	height: 4em;
	grid-column: 7 / 8;
	grid-row: 3;
	background-color: transparent;
	border-style: none;
	margin-top: -1em;
	z-index: 2;
}
	
.menuButton img{
	position: relative;
	width: 3em;
	height: 3em;
}

.buttonHeader{
	position: relative;
	width: 4em;
	height: 4em;
	grid-column: 4 / 4;
	grid-row: 2;
	background-color: transparent;
	border-style: none;
}
	
.buttonHeader img{
	position: relative;
	width: 3em;
	height: 3em;
}

/* Buttons */
a{
	border: none;
	background-color: transparent;
}

button {
	font-size: 1em;
	background-color: transparent;
	border-style: none;
	color: var(--color-text);
	z-index: 1;
	margin-left: -1.5vw;
	text-align: left;
}

section:nth-of-type(2) button:focus{
	border-bottom: 1px solid #ffffff;
	border-bottom-width: 0.2vh;
	padding-bottom: 1.5vh;
}

.GemeraButton{
	width: 20vw;
}

.AttackButton{
	width: 27vw;
}

.AbsolutButton{
	width: 27vw;
}


#discover {
	width: 7em;
	height: 3em;
	grid-column: 6 / 8;
	grid-row: 6;
	color: var(--color-text);
	border: none;
	background-color: transparent;
	z-index: 1;
}

.exploreCars{
	font-size: 0.8em;
	color: var(--color-text);
	font-family:Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	z-index: 1;
	width: 60vw;;
	grid-column: 1/3;
	grid-row: 7;
	margin-top: 2em;
	margin-left: 2em;
}

.discoverMore{
	grid-column: 3 / 7;
	grid-row: 4;
	z-index: 1;
}

.discoverMore img{
	margin-top: 2em;
	width: 12em;
	height: auto;
}

/* Animations */

.animate{
	animation: 1.5s fadeIn;
	animation-iteration-count: 1;
	opacity: 100%;
}

.animateImages{
	animation: 0.6s loadImages;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	opacity: 100%;
}

@keyframes openMenu{
	0%{clip-path: polygon(0 0, 0 0, 0 100%, 0 0, 0 0, 100% 0);}
	20%{clip-path: polygon(100% 0, 0 24%, 0 100%, 0 0, 0 0, 100% 0);}
	40%{clip-path: polygon(100% 30%, 0 57%, 0 100%, 0 0, 0 0, 100% 0);}
	60%{clip-path: polygon(100% 78%, 0 100%, 0 100%, 0 0, 0 0, 100% 0);}
	80%{clip-path: polygon(100% 91%, 48% 100%, 0 100%, 0 0, 0 0, 100% 0);}
	100%{clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 0, 0 0, 100% 0);}
}

@keyframes closeMenu{
	0%{clip-path: polygon(0 0, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);}
	20%{clip-path: polygon(100% 0, 0 16%, 0 100%, 100% 100%, 100% 100%, 100% 0);}
	40%{clip-path: polygon(100% 32%, 0 62%, 0 100%, 100% 100%, 100% 100%, 100% 0);}
	60%{clip-path: polygon(100% 77%, 0 100%, 0 100%, 100% 100%, 100% 100%, 100% 0);}
	80%{clip-path: polygon(100% 90%, 48% 100%, 0 100%, 100% 100%, 100% 100%, 100% 0);}
	100%{clip-path: polygon(100% 100%, 100% 100%, 0 100%, 100% 100%, 100% 100%, 100% 0);}
}

@keyframes fadeIn {
	0% {
	  transform: translateY(100%);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0%);
	  opacity: 1;
	}
}

@keyframes exitPage{
	0%{clip-path: polygon(0 0, 0 0, 0 100%, 0 0, 0 0, 100% 0);}
	20%{clip-path: polygon(100% 0, 0 24%, 0 100%, 0 0, 0 0, 100% 0);}
	40%{clip-path: polygon(100% 30%, 0 57%, 0 100%, 0 0, 0 0, 100% 0);}
	60%{clip-path: polygon(100% 78%, 0 100%, 0 100%, 0 0, 0 0, 100% 0);}
	80%{clip-path: polygon(100% 91%, 48% 100%, 0 100%, 0 0, 0 0, 100% 0);}
	100%{clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 0, 0 0, 100% 0);}
}

@keyframes openPage{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes loadImages{
	0%{clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); opacity: 0;}
	20%{clip-path: polygon(0 0, 100% 0, 100% 0, 0 14%);}
	40%{clip-path: polygon(0 0, 100% 0, 100% 14%, 0 28%);}
	60%{clip-path: polygon(0 0, 100% 0, 100% 57%, 0 71%);}
	80%{clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);}
	100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); opacity: 1;}
}

@keyframes backgroundAnimation{
	0% {
		background-size: 140% 120%;
		background-color: black;
	}
	  100% {
		background-size: 118% 100%;
		background-color: rgba(0, 0, 0, 0);
	}
}

